/* GLobal */

:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;
  --color-purple: #d7a3e6;
  --color-light-purple: #fce8fc;
  --color-aquablue: #8aced1;
  --color-light-aquablue: #ceeced;
  --color-dark-aquablue: #03989e;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Border radius */
  --border-radius: 4px;
  /* Animation duration */
  --animation-duration: 250ms;
}
/* Universal tags */
* {
  box-sizing: border-box;
}
body {
  margin: 0px;
  font-family: "Montserrat", sans-serif;
  cursor: default;
}
a {
  text-decoration: none;
  color: var(--color-dark-grey);
}
ul {
  list-style: none;
  padding-left: 0px;
}
ol {
  padding-left: 0px;
}
button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

/* Section common */
.section {
  margin: auto;
  padding: 50px;
  text-align: center;
}
.section__container {
  max-width: 1200px;
  margin: auto;
}
/* Typography */

h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0;
}

/* Navbar */
#navbar {
  display: flex;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  padding: 4px;
  justify-content: space-between;
  background-color: transparent;
  align-items: center;
  z-index: 1;
  color: var(--color-dark-grey);
  transition: all var(--animation-duration) ease-in-out;
}

#navbar.scroll--white {
  background-color: var(--color-white);
  padding: 0px;
}
.navbar__menu {
  display: flex;
}
.navbar__logo {
  display: flex;
  align-items: centers;
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
}
.navbar__logo img {
  width: 50px;
  height: auto;
}

.navbar__menu__item {
  padding: 8px;
  margin: 0 4px;
  cursor: pointer;
  border-radius: var(--border-radius);
}
.navbar__menu__item:hover {
  box-shadow: 0 0 0 1px var(--color-purple) inset;
  background-color: var(--color-light-purple);
}
.navbar__menu__item.active {
  background-color: var(--color-purple);
  transition: all var(--animation-duration) ease;
}
.navbar__toggle-btn {
  position: absolute;
  right: 20px;
  display: none;
  font-size: var(--font-medium);
  color: var(--color-purple);
}

/* Home */
#home {
  background: center/cover no-repeat url("imgs/background.png");
  padding: 40px;
  text-align: center;
}
.home__avatar {
  width: 250px;
  height: 250px;
  margin-top: 50px;
}
#home__contact {
  color: var(--color-white);
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  margin: 24px;
  background-color: var(--color-purple);
  padding: 20px 20px;
  border-radius: var(--border-radius);
}

#home__contact:hover {
  transition: all var(--animation-duration) ease;
  box-shadow: inset 0 0 0 14px var(--color-aquablue);
}

/* arrow__up */
.arrow__up {
  position: fixed;
  bottom: 50px;
  right: 30px;
  z-index: 1;
  width: 50px;
  height: 50px;
  font-size: 30px;
  background-color: var(--color-dark-aquablue);
  color: var(--color-white);
  border-radius: 50%;
  opacity: 0;
  cursor: none;
  pointer-events: none;
  transition: all var(--animation-duration) ease-in-out;
}
.arrow__up.show {
  opacity: 1;
  cursor: pointer;
  pointer-events: auto;
}
/*About */
.about__majors {
  display: flex;
  margin: 80px 0;
  justify-content: space-evenly;
}

.major__icon {
  width: 170px;
  height: 170px;
  font-size: 70px;
  line-height: 170px;
  border: 1px solid var(--color-aquablue);
  color: var(--color-aquablue);
  border-radius: 50%;
  margin: auto;
}
.major__icon:hover {
  color: var(--color-white);
  background-color: var(--color-dark-aquablue);
  transition: all var(--animation-duration) ease-in-out;
}
.major__title {
  font-weight: var(--weight-semi-bold);
}
.major__title .major__description {
  color: var(--color-dark-grey);
}
.job {
  display: flex;
  align-items: center;
}
.job__logo {
  width: 60px;
  height: auto;
}
.job__description {
  text-align: left;
  margin: 0 16px;
  color: var(--color-light-grey);
}
.job__name {
  font-size: var(--font-small);
}
.job__period {
  font-size: var(--font-micro);
}
/* Skills */
#skills {
  background-color: var(--color-light-aquablue);
}
.skill {
  margin-bottom: 25px;
}
.skillset {
  display: flex;
  color: var(--color-light-white);
  margin: 20px 0;
}
.skillset__title {
  color: var(--color-white);
  font-weight: var(--weight-semi-bold);
}
.skillset__left {
  flex-basis: 60%;
  padding: 20px 40px;
  background-color: var(--color-dark-grey);
}
.skillset__right {
  flex-basis: 40%;
  background-color: var(--color-grey);
}
.tools {
  padding: 10px 0px;
  background-color: var(--color-light-grey);
}
.etc {
  padding: 10px 0px;
}

.skillset__right li {
  margin-bottom: 6px;
}

.skill_description {
  display: flex;
  justify-content: space-between;
}
.skill__bar {
  width: 100%;
  height: 3px;
  background-color: var(--color-light-grey);
}
.skill__value {
  height: 2px;
  background-color: var(--color-purple);
}

/* My Works */
.work__categories {
  margin: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.category__btn {
  font-size: var(--font-regular);
  padding: 8px 48px;
  border-radius: var(--border-radius);
  border: 1px solid var(--color-purple);
}
.category__btn.active {
  background-color: var(--color-purple);
  color: white;
  transition: all var(--animation-duration) ease-in-out;
}

.category__btn:hover {
  box-shadow: 0 0 0 2px var(--color-purple) inset;
}
.work__projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  transition: all var(--animation-duration) ease-out;
}

.work__projects.ani-out {
  opacity: 0;
  transform: scale(0.96) translateY(10px);
}
.project img {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}
.project.invisible {
  display: none;
}
.project {
  display: flex;
  align-items: center;
  width: 280px;
  height: 250px;
  margin: 2px;
  position: relative;
  transition: all var(--animation-duration) ease-in-out;

  background-color: var(--color-light-white);
}
.project:hover .project__description {
  opacity: 80%;
  transition: all var(--animation-duration) ease-in;
}
.project__description {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--color-white);
  background-color: var(--color-black);
}
.project__description h3 {
  color: var(--color-purple);
  font-weight: var(--weight-bold);
}
.project__description h3:after {
  content: "";
  width: 25px;
  height: 2px;
  transform: translateX(-50%);
  background-color: var(--color-dark-white);
  display: block;
  margin: auto;
  margin-top: 8px;
}
#contact {
  background-color: var(--color-purple);
}

.contact__title,
.contact__email,
.contact__links i,
.contact__rights {
  color: var(--color-white);
}
.contact__title {
  margin: 32px 0px;
}
.contact__links {
  font-size: var(--font-large);
  margin: 24px 0px;
}
.contact__links i:hover {
  transform: scale(1.1);
  color: var(--color-dark-aquablue);
  transition: all var(--animation-duration) ease-in;
}
.contact__rights {
  font-size: var(--font-micro);
}

@media screen and (max-width: 768px) {
  :root {
    /* Font size */
    --font-large: 30px;
    --font-medium: 18px;
    --font-regular: 18px;
    --font-small: 16px;
    --font-micro: 14px;
  }
  .section {
    margin: auto;
    padding: 30px;
    text-align: center;
  }
  .navbar__toggle-btn {
    display: block;
    right: 16px;
    top: 14px;
  }
  #navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    background-color: var(--color-white);
  }
  .navbar__logo {
    align-items: center;
  }
  #navbar.scroll--white {
    padding: 8px;
  }
  .navbar__menu {
    flex-direction: column;
    width: 100%;
    display: block;
    text-align: center;
  }
  .navbar__menu.hide {
    display: none;
  }
  .work__categories {
    flex-direction: column;
  }
  .about__majors {
    flex-direction: column;
    margin: 20px;
  }
  .major {
    margin-bottom: 30px;
  }
  .skillset {
    flex-direction: column;
  }
  .project {
    flex-grow: 1;
  }
  .category__btn {
    padding: 8px;
  }
  .arrow__up {
    width: 30px;
    height: 30px;
    font-size: 20px;
    right: 16px;
  }
}
